* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 74px;
}

.logo {
    width: 130px;
    margin-left: 3px;
    height: 74px;
}

.logo2 {
    height: 74px;
    float: right;
}

.btnbox {
    position: absolute;
    right: 0;
    bottom: 0;
}

.btnbox a {
    float: left;
    display: inline-block;
}

.btn_drive {
    width: 65px;
    height: 30px;
    vertical-align: top;
    color: #fff;
    font-size: 12px;
    background-color: rgb(0, 146, 216);
    text-align: center;
    line-height: 30px;
}

main {
    text-align: center;
    height: 520px;
    background: #000 url(../img/bgoven.jpg) center -70px no-repeat; /* 用图片填充，图片无法填充到的地方用黑色覆盖 */
    background-size: 320px auto;
}

.img_title {
    width: 227px;
    margin-top: 23px;
}

.btn_try img {
    width: 243px;
    margin-top: 230px;
}

.tip {
    color: #fff;
    font-size: 13px;
}

nav {
    position: absolute;
    top: 74px;
    right: 0px;
    color: #0092d8;
    width: 186px;
    font-size: 13px;
    background: url("../img/menu-bg.jpg");
    background-size: 100% auto;
    height: 300px;
    overflow: auto;
    transform: translate3d(100%, 0, 0);
    transition: all 0.3s ease;

}


nav.on {
    transform: translate3d(0, 0, 0);
}


.login_box {

    background: url(../img/user-bg.jpg);
    height: 40px;
}

.login_box a {
    display: block;
    float: left;
    width: 50%;
    line-height: 40px;
    text-align: center;

}

.btn_login {
    position: relative;
}

.btn_login:after {
    content: '';
    position: absolute;
    top: 12px;
    height: 1em;
    background-color: white;
    width: 1px;
    right: 0px;
}

.menu_box h3 {
    text-indent: 40px;
    line-height: 40px;
    border-bottom: 1px solid #b9c8cf;
}

h3 {
    font-size: 10px;
}

.menu_box h3 a {
    color: #0092d8;
    display: block;
    border-bottom: 1px solid #b9c8cf;

}

.menu_box h3 b {
    display: block;

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}